// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  max-width: 100%;
  margin-bottom: 0;
  // border-radius: 0.5em;
}

nav a {
  text-decoration: inherit;
  color: inherit;
  font-weight: inherit;
  background-color: #BBBBBB;
  padding: 0.2em;
  border: solid 1px black;
  border-radius: 0.5em;
}

.error_display {
  display: inline-block;
  border: 1px solid red;
  font-family: monospace;
  padding: 0.25em;
}

div.entry {
  display: inline-block;
  overflow: hidden;
  width: 30%;
  background-color: #AAAAAA;
  border: 1px solid black;
  border-radius: 0.5em;
  padding-top: 0.2em;
}
.picture {
  display: inline-block;
  overflow: hidden;
}

.titles {
  height: 2em;
}
