// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  max-width: 30%;
}

a {
  text-decoration: inherit;
  color: inherit;
  font-weight: inherit;
}

.error_display {
  display: inline-block;
  border: 1px solid red;
  font-family: monospace;
  padding: 0.25em;
}
